pipeline/aggClicksForCoursesRedirects.json
{
	"name": "aggClicksForCoursesRedirects",
	"properties": {
		"activities": [
			{
				"name": "CopyDataFromRedirects",
				"description": "Copy redirect from courses redirects",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set pattern",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "redirects"
					},
					{
						"name": "Destination",
						"value": "tracking/redirects/courses_rediects.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"batchSize": 100,
						"filter": {
							"value": "{ \n\t\t\"domain_id\": @{variables('domain_id')}, \n\t\t\"url_without_params\" : {\n\t\t\t $regex: \"@{variables('set_pattern')}\" }}\n\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['uid']"
								},
								"sink": {
									"name": "uid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['uuid']"
								},
								"sink": {
									"name": "uuid",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ip']"
								},
								"sink": {
									"name": "ip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['web_client']"
								},
								"sink": {
									"name": "web_client",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['domain_id']"
								},
								"sink": {
									"name": "domain_id",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['url_without_params']"
								},
								"sink": {
									"name": "url_without_params",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['url']"
								},
								"sink": {
									"name": "url",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['redirect_id']"
								},
								"sink": {
									"name": "redirect_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['redirect_name']"
								},
								"sink": {
									"name": "redirect_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['referrer_url']"
								},
								"sink": {
									"name": "referrer_url",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['createdAt']['$date']"
								},
								"sink": {
									"name": "createdAt_$date",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['updatedAt']['$date']"
								},
								"sink": {
									"name": "updatedAt_$date",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Mongo_TrackingRedirects",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Utbildnigar_Redirects",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AggClicksForCourses",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyDataFromRedirects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ProcessRedirectClicks",
						"type": "DataFlowReference",
						"parameters": {
							"filename": {
								"value": "'@{variables('filename')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set pattern",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set domain id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_pattern",
					"value": "'/utbildning/redirect/'"
				}
			},
			{
				"name": "Set domain id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "domain_id",
					"value": "11"
				}
			},
			{
				"name": "PingLogicApp",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AggClicksForCourses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod2-18.swedencentral.logic.azure.com:443/workflows/d1dc9525b458498590d62cdcb61839c0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=CqkODBsoXEFAEIinCN2FugoMURvgqP-Rz7qsfNc5XvI",
					"method": "POST",
					"body": "{ filename : \"\" }"
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@concat('redirects-utbildningar','.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"set_pattern": {
				"type": "String"
			},
			"domain_id": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataFromTracking"
		},
		"annotations": []
	}
}