pipeline/CharmaCRM_Simple_Trackings.json
{
	"name": "CharmaCRM_Simple_Trackings",
	"properties": {
		"activities": [
			{
				"name": "CopySimpleTracking",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "currentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"batchSize": 100,
						"filter": {
							"value": "{   domain : '@{pipeline().parameters.domain_id}', \n    uid: { $ne: null },\n    createdAt : {\n        $gte : ISODate('@{formatDateTime(addDays(utcNow(), \n                        pipeline().parameters.days), 'yyyy-MM-dd')}'),\n        $lt : ISODate('@{formatDateTime(addDays(utcNow(), \n                        pipeline().parameters.days_to),'yyyy-MM-dd')}') \n    }\n}",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['uid']"
								},
								"sink": {
									"name": "uid"
								}
							},
							{
								"source": {
									"path": "$['url']"
								},
								"sink": {
									"name": "url"
								}
							},
							{
								"source": {
									"path": "$['referrer_url']"
								},
								"sink": {
									"name": "referrer_url"
								}
							},
							{
								"source": {
									"path": "$['page_title']"
								},
								"sink": {
									"name": "page_title"
								}
							},
							{
								"source": {
									"path": "$['domain']"
								},
								"sink": {
									"name": "domain"
								}
							},
							{
								"source": {
									"path": "$['createdAt']['$date']"
								},
								"sink": {
									"name": "createdAt_$date",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Mongo_TrackingSimpleTracking",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Charma_RawData_SimpleTracking",
						"type": "DatasetReference",
						"parameters": {
							"datatype": {
								"value": "@pipeline().parameters.datatype",
								"type": "Expression"
							},
							"site": {
								"value": "@pipeline().parameters.site",
								"type": "Expression"
							},
							"days": {
								"value": "@pipeline().parameters.days",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ProcessDataFromSimpleTrackings",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopySimpleTracking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DataFlowForSimpleTrackings",
						"type": "DataFlowReference",
						"parameters": {
							"sitename": {
								"value": "'@{pipeline().parameters.site}'",
								"type": "Expression"
							},
							"datatype": {
								"value": "'@{pipeline().parameters.datatype}'",
								"type": "Expression"
							},
							"days": {
								"value": "@pipeline().parameters.days",
								"type": "Expression"
							},
							"site": {
								"value": "'@{pipeline().parameters.site}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"RawDataFromBlob": {
								"datatype": {
									"value": "@pipeline().parameters.datatype",
									"type": "Expression"
								},
								"site": {
									"value": "@pipeline().parameters.site",
									"type": "Expression"
								},
								"days": {
									"value": "@pipeline().parameters.days",
									"type": "Expression"
								}
							},
							"SaveToReadyCSV": {
								"datatype": {
									"value": "@pipeline().parameters.datatype",
									"type": "Expression"
								},
								"site": {
									"value": "@pipeline().parameters.site",
									"type": "Expression"
								},
								"days": {
									"value": "@pipeline().parameters.days",
									"type": "Expression"
								}
							},
							"SaveToRanking": {
								"datatype": {
									"value": "@pipeline().parameters.datatype",
									"type": "Expression"
								},
								"site": {
									"value": "@pipeline().parameters.site",
									"type": "Expression"
								},
								"days": {
									"value": "@pipeline().parameters.days",
									"type": "Expression"
								}
							},
							"SaveSortedAggregation": {
								"datatype": {
									"value": "@pipeline().parameters.datatype",
									"type": "Expression"
								},
								"site": {
									"value": "@pipeline().parameters.site",
									"type": "Expression"
								},
								"days": {
									"value": "@pipeline().parameters.days",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SendConfirmation",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ProcessDataFromSimpleTrackings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod2-16.swedencentral.logic.azure.com:443/workflows/b013f98b16e74506b998a2c79c035596/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gqBa8MsTmvbHDiVxlxFC9fSAZ3UVVa4UIjj8uT6zBQo",
					"method": "POST",
					"body": {
						"value": "{\n    \"site\" : \"@{pipeline().parameters.site}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendReportWhenProcessFails",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ProcessDataFromSimpleTrackings",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "CopySimpleTracking",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod2-27.swedencentral.logic.azure.com:443/workflows/9aa03ccc308746458b26fa5466906f05/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8bEtcVRnaKYvzgUjCkC0kjHeDPIIViAUBdnBlwwry4Q",
					"method": "POST",
					"body": {
						"value": "{\n    \"site\" : \"@{pipeline().parameters.site}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call_CRM_API",
				"description": "Send POST to CRM and start to process data",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ProcessDataFromSimpleTrackings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('API_Endpoint')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@variables('API_Token')",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n    \"file\" : \"@{concat('simple_trackings-', variables('currentDate'), '.csv')}\", \n    \"site\" : \"charma.ioo\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "currentDate",
				"description": "This variable is used to crate filename which will be processed in CRM",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Endpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDate",
					"value": {
						"value": "@{formatDateTime(addDays(utcNow(), pipeline().parameters.days), 'yyyy-MM-dd')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_Endpoint",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "API_Endpoint",
					"value": "https://crm-charma.azurewebsites.net/api/import/simple_trackings"
				}
			},
			{
				"name": "API_Token",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "API_Token",
					"value": "Token 32a8bc8bc9292957da0db8b69fc4078f6c0121e2"
				}
			}
		],
		"parameters": {
			"domain_id": {
				"type": "string",
				"defaultValue": "charma.io"
			},
			"days": {
				"type": "int",
				"defaultValue": -5
			},
			"site": {
				"type": "string",
				"defaultValue": "charma.io"
			},
			"datatype": {
				"type": "string",
				"defaultValue": "simple_trackings"
			},
			"days_to": {
				"type": "int",
				"defaultValue": -4
			}
		},
		"variables": {
			"currentDate": {
				"type": "String"
			},
			"API_Endpoint": {
				"type": "String"
			},
			"API_Token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CRM/Charma"
		},
		"annotations": []
	}
}