pipeline/Kandidata.json
{
	"name": "Kandidata",
	"properties": {
		"activities": [
			{
				"name": "LoopOverRedirects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Kandidata_Redirects_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('redirect_ids')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataForEveryRedirectToCSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CosmosDbMongoDbApiSource",
									"batchSize": 100,
									"filter": {
										"value": "{ \"redirect_name\" : \"@{item()}\" } ",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['uid']"
											},
											"sink": {
												"type": "Int64",
												"ordinal": 1
											}
										},
										{
											"source": {
												"path": "$['uuid']"
											},
											"sink": {
												"type": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"path": "$['url_without_params']"
											},
											"sink": {
												"type": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"path": "$['redirect_id']"
											},
											"sink": {
												"type": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"path": "$['redirect_name']"
											},
											"sink": {
												"type": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"path": "$['createdAt']['$date']"
											},
											"sink": {
												"type": "Int64",
												"ordinal": 6
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Mongo_TrackingRedirects",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Kandidata",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "ProcessRedirects",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyDataForEveryRedirectToCSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Kandidata",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"redirect_name": "@item()"
										}
									},
									"linkedServiceParameters": {
										"source1": {
											"schemaLinkedService": {
												"redirect_name": "@item()"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Kandidata_Redirects_Names",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "redirect_ids",
					"value": [
						"kandidata-banner-jan-23",
						"HRN0073WW-kandidata-banner-dec-22",
						"HRN0174A-kandidata-edr-2",
						"HRN0174A-kandidata-edr-1",
						"kandidata-artikel-dec-22"
					]
				}
			}
		],
		"variables": {
			"kandidata_campaigns": {
				"type": "Array"
			},
			"redirect_ids": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "HRNytt"
		},
		"annotations": []
	}
}