pipeline/ValidWines_Pipeline.json
{
	"name": "ValidWines_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Loop_Over_Excel_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_Workspace_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_items')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FindTendency",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "calculateTendency",
								"method": "POST",
								"body": {
									"value": "{ \"wine_name\" : \"@{item()}\", \"workspace\" : \"@{variables('workspace')}\" }",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AF_WineSalesTendency",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DataFlow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "FindTendency",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SortAndAnalyzeTrend_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"item": {
											"value": "'@{item()}'",
											"type": "Expression"
										},
										"workspace": {
											"value": "'@{variables('workspace')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Set_Workspace_Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_File_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "workspace",
					"value": "validwines"
				}
			},
			{
				"name": "Set_File_Names",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_items",
					"value": [
						"Dudet",
						"Dopff",
						"Morgon",
						"BV"
					]
				}
			}
		],
		"variables": {
			"files": {
				"type": "Array",
				"defaultValue": [
					"Morgon",
					"Dudet",
					"BV"
				]
			},
			"workspace": {
				"type": "String",
				"defaultValue": "validwines"
			},
			"file_items": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Wines"
		},
		"annotations": []
	}
}