pipeline/ValidWines_Pipeline_Deprecated.json
{
	"name": "ValidWines_Pipeline_Deprecated",
	"properties": {
		"activities": [
			{
				"name": "Loop_Over_Excel_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_Workspace_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_items')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FindTendency",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "calculateTendency",
								"method": "POST",
								"body": {
									"value": "{ \"wine_name\" : \"@{item()}\", \"workspace\" : \"@{variables('workspace')}\" }",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AF_WineSalesTendency",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DataFlow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "FindTendency",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SortAndAnalyzeTrend_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"item": {
											"value": "'@{item()}'",
											"type": "Expression"
										},
										"workspace": {
											"value": "'@{variables('workspace')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "CalculateSegments",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "DataFlow",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "calculateSegments",
								"method": "POST",
								"body": {
									"value": "{ \"wine_name\" : \"@{item()}\", \"workspace\" : \"@{variables('workspace')}\" }",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AF_WineSalesTendency",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set_Workspace_Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_File_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "workspace",
					"value": "validwines"
				}
			},
			{
				"name": "Set_File_Names",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_items",
					"value": [
						"Dudet",
						"Dopff",
						"Morgon",
						"BV"
					]
				}
			},
			{
				"name": "SendInfo_Done",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Loop_Over_Excel_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-25.norwayeast.logic.azure.com:443/workflows/eb9fad300f714438ba3d90a8690d6906/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=i3D5tXJdVl0SOgti5co1YknbPcejP9uVSu9MXMCqTc4",
					"method": "POST",
					"body": {
						"value": "{  \"ListOfFiles\" : @{variables('file_items')} }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendInfo_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Loop_Over_Excel_Files",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-10.norwayeast.logic.azure.com:443/workflows/6e9518f156e14b30b332b302efc22bd0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=k9Rye9fCt8qmna6AVgo2av0jKcL-tOuou_vgKMs5KC8",
					"method": "POST"
				}
			}
		],
		"variables": {
			"files": {
				"type": "Array",
				"defaultValue": [
					"Morgon",
					"Dudet",
					"BV"
				]
			},
			"workspace": {
				"type": "String",
				"defaultValue": "validwines"
			},
			"file_items": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Wines"
		},
		"annotations": []
	}
}