templates/ProcessTrackingsForCRM/ProcessTrackingsForCRM.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"MongoDB_Tracking": {
			"type": "string"
		},
		"DataLake": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ProcessTrackingsForCRM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromMongoDB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbMongoDbApiSource",
								"batchSize": 100,
								"filter": {
									"value": "{   domain_id : @{pipeline().parameters.domain_id}, \n    createdAt : {\n        $gte : ISODate('@{addDays(utcNow(), \n                        pipeline().parameters.days)}') \n    }\n}",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['createdAt']['$date']"
										},
										"sink": {
											"name": "createdAt",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['updatedAt']['$date']"
										},
										"sink": {
											"name": "updatedAt",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['uid']"
										},
										"sink": {
											"name": "uid",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['url']"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['client']"
										},
										"sink": {
											"name": "client",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['domain_id']"
										},
										"sink": {
											"name": "domain_id",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['referrer_url']"
										},
										"sink": {
											"name": "referrer_url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['url_without_params']"
										},
										"sink": {
											"name": "url_without_params",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Mongo_Tracking_Trackings",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Trackings",
								"type": "DatasetReference",
								"parameters": {
									"site": {
										"value": "@pipeline().parameters.site",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ProcessTrackingsForCRM",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CopyDataFromMongoDB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataflowForCRM_Trackings",
								"type": "DataFlowReference",
								"parameters": {
									"did": {
										"value": "'@{pipeline().parameters.domain_id}'",
										"type": "Expression"
									},
									"sitename": {
										"value": "'@{pipeline().parameters.site}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {
										"site": {
											"value": "@pipeline().parameters.site",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"parameters": {
					"domain_id": {
						"type": "int",
						"defaultValue": 8
					},
					"days": {
						"type": "int",
						"defaultValue": -2
					},
					"site": {
						"type": "string",
						"defaultValue": "reaktion"
					}
				},
				"folder": {
					"name": "CRM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Mongo_Tracking_Trackings')]",
				"[concat(variables('factoryId'), '/datasets/Trackings')]",
				"[concat(variables('factoryId'), '/dataflows/DataflowForCRM_Trackings')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mongo_Tracking_Trackings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('MongoDB_Tracking')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Mongo_Tracking"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"schema": [],
				"typeProperties": {
					"collection": "trackings"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trackings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataLake')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"site": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('raw-data-',dataset().site, '.csv')",
							"type": "Expression"
						},
						"folderPath": "crm",
						"fileSystem": "tracking"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowForCRM_Trackings')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Trackings",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "[parameters('DataLake')]",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     did as string (\"8\"),",
						"     sitename as string (\"reaktion\")",
						"}",
						"source(output(",
						"          createdAt as long,",
						"          updatedAt as long,",
						"          uid as integer,",
						"          url as string,",
						"          client as string,",
						"          domain_id as short,",
						"          referrer_url as string,",
						"          url_without_params as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source1",
						"source1 filter(!in([",
						"    287962,",
						"    77602,",
						"    77233,",
						"    278328,",
						"    4,",
						"    1,",
						"    315594,",
						"    315769,",
						"    278594,",
						"    77229,",
						"    77212,",
						"    287409,",
						"    287410,",
						"    287411,",
						"    287412,",
						"    287408,",
						"    287479,",
						"    287457,",
						"    287463,",
						"    287464,",
						"    287474,",
						"    287477,",
						"    287478,",
						"    287481,",
						"    287482,",
						"    287483,",
						"    298466,",
						"    422164,",
						"    1118405",
						"     ], uid),",
						"     partitionBy('hash', 1)) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     fileSystem: 'tracking',",
						"     folderPath: 'crm',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: false,",
						"     partitionFileNames:[(concat($sitename, '-ready-to-import', '.csv'))],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Trackings')]"
			]
		}
	]
}