templates/CRM_Redirects/CRM_Redirects.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"MongoDB_Tracking": {
			"type": "string"
		},
		"CRM Charma": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CharmaCRM_Redirects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Redirects_From_MongoDB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbMongoDbApiSource",
								"batchSize": 100,
								"filter": {
									"value": "{   domain_id : @{pipeline().parameters.domain_id}, \n    createdAt : {\n        $gte : ISODate('@{formatDateTime(addDays(utcNow(), \n                        pipeline().parameters.days), 'yyyy-MM-dd')}'),\n        $lt : ISODate('@{formatDateTime(utcNow(),'yyyy-MM-dd')}') \n    }\n}",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['tags'][0]"
										},
										"sink": {
											"name": "items",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category']"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['uid']"
										},
										"sink": {
											"name": "uid",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['uuid']"
										},
										"sink": {
											"name": "uuid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ip']"
										},
										"sink": {
											"name": "ip",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['domain_id']"
										},
										"sink": {
											"name": "domain_id",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['url']"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['redirect_name']"
										},
										"sink": {
											"name": "redirect_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['referrer_url']"
										},
										"sink": {
											"name": "referrer_url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdAt']['$date']"
										},
										"sink": {
											"name": "createdAt_$date",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['updatedAt']['$date']"
										},
										"sink": {
											"name": "updatedAt_$date",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Mongo_TrackingRedirects",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Redirects_Raw_Mongo_Data",
								"type": "DatasetReference",
								"parameters": {
									"site": {
										"value": "@pipeline().parameters.site",
										"type": "Expression"
									},
									"datatype": {
										"value": "@pipeline().parameters.datatype",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Process_Redirects_For_CRM",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy_Redirects_From_MongoDB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataflowForCRM_Trackings1",
								"type": "DataFlowReference",
								"parameters": {
									"did": {
										"value": "'@{pipeline().parameters.domain_id}'",
										"type": "Expression"
									},
									"sitename": {
										"value": "'@{pipeline().parameters.site}'",
										"type": "Expression"
									},
									"datatype": "\"redirects\""
								},
								"datasetParameters": {
									"CharmaRawDataCSV": {
										"datatype": {
											"value": "@pipeline().parameters.datatype",
											"type": "Expression"
										},
										"site": {
											"value": "@pipeline().parameters.site",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"parameters": {
					"domain_id": {
						"type": "int",
						"defaultValue": 107
					},
					"days": {
						"type": "int",
						"defaultValue": -1
					},
					"site": {
						"type": "string",
						"defaultValue": "charma"
					},
					"datatype": {
						"type": "string",
						"defaultValue": "redirects"
					}
				},
				"folder": {
					"name": "CRM/Charma"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Mongo_TrackingRedirects')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Redirects_Raw_Mongo_Data')]",
				"[concat(variables('factoryId'), '/dataflows/DataflowForCRM_Trackings1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mongo_TrackingRedirects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('MongoDB_Tracking')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Mongo_Tracking"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"schema": [],
				"typeProperties": {
					"collection": "redirects"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Redirects_Raw_Mongo_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('CRM Charma')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"site": {
						"type": "string"
					},
					"datatype": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('raw-data-',dataset().site, '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().datatype",
							"type": "Expression"
						},
						"fileSystem": "tracking"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowForCRM_Trackings1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CharmaCRMRawData",
								"type": "DatasetReference"
							},
							"name": "CharmaRawDataCSV"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "[parameters('CRM Charma')]",
								"type": "LinkedServiceReference"
							},
							"name": "CharmaDataToImport"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     did as string (\"107\"),",
						"     sitename as string (\"charma\"),",
						"     datatype as string (\"redirects\")",
						"}",
						"source(output(",
						"          items as string,",
						"          category as string,",
						"          uid as integer,",
						"          uuid as string,",
						"          ip as string,",
						"          domain_id as short,",
						"          url as string,",
						"          redirect_name as string,",
						"          referrer_url as string,",
						"          {createdAt_$date} as long,",
						"          {updatedAt_$date} as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> CharmaRawDataCSV",
						"CharmaRawDataCSV filter(!in([",
						"    287962,",
						"    77602,",
						"    77233,",
						"    278328,",
						"    4,",
						"    1,",
						"    315594,",
						"    315769,",
						"    278594,",
						"    77229,",
						"    77212,",
						"    287409,",
						"    287410,",
						"    287411,",
						"    287412,",
						"    287408,",
						"    287479,",
						"    287457,",
						"    287463,",
						"    287464,",
						"    287474,",
						"    287477,",
						"    287478,",
						"    287481,",
						"    287482,",
						"    287483,",
						"    298466,",
						"    422164,",
						"    1118405",
						"     ], uid),",
						"     partitionBy('hash', 1)) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     fileSystem: 'tracking',",
						"     folderPath: ($datatype),",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     partitionFileNames:[(concat($sitename, '-ready-to-import', '.csv'))],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> CharmaDataToImport"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CharmaCRMRawData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CharmaCRMRawData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('CRM Charma')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"datatype": {
						"type": "string"
					},
					"site": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('raw-data-',dataset().site, '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().datatype",
							"type": "Expression"
						},
						"fileSystem": "tracking"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "createdAt",
						"type": "String"
					},
					{
						"name": "updatedAt",
						"type": "String"
					},
					{
						"name": "uid",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "client",
						"type": "String"
					},
					{
						"name": "domain_id",
						"type": "String"
					},
					{
						"name": "referrer_url",
						"type": "String"
					},
					{
						"name": "url_without_params",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}